[influxdb]

url = "http://localhost:8086"
db = "telegraf"
measurement = "ping"
user = "not"
pass = "used"

[hosts]
hosts = [
    # CloudFlare
    "1.1.1.1",
    "1.0.0.1",

    # Google
    "8.8.4.4",
    "8.8.8.8",

    # DNS.watch
    "84.200.69.80",
    "84.200.70.40"
]
